@* /Shared/Sidebar.razor *@
@using AssistantEngine.UI.Services.Implementation.Models.Chat
@using AssistantEngine.UI.Services.Models.Chat
@using Microsoft.AspNetCore.Components.Routing

<aside class="sidebar @(OperatingSystem.IsWindows() ? "windowsos" : null)">

    <div class="sidebar-logo">
        <a href="">
            <img src="_content/AssistantEngine.UI/img/logo.png"  id="chat-logo-main" />
            <span id="sidebarText">Assistant Engine</span>
        </a>
    </div>

    <nav class="sidebar-nav">
        
        <ChatHistoryList CurrentSession="@CurrentSession"
                         CurrentSessionChanged="@CurrentSessionChanged" OnNewChat="@OnNewChat" />
    </nav>

    <div class="sidebar-footer">
		<button class="btn btn-sidebar-footer" @onclick="() => OpenSettingsModalRequested.InvokeAsync()">
			<i class="fi fi-br-settings"
			   title="Folder containing your model JSON definitions."></i>
			   Advanced Settings
		</button>
    </div>
</aside>
@code {
    [Parameter] public EventCallback OnNewChat { get; set; }
	[Parameter] public EventCallback OpenSettingsModalRequested { get; set; }
    [Parameter] public ChatSession? CurrentSession { get; set; }
    [Parameter] public EventCallback<ChatSession> CurrentSessionChanged { get; set; }
}