<div class="assistant-message empty-assistant">
    <div>
        <div class="assistant-message-icon">
            <svg class="icon"><use xlink:href="#call-center" /></svg>
        </div>
    </div>
    <div class="assistant-message-header">
        Assistant
        <div class="streaming-loader1"></div>
    </div>
    <div class="assistant-message-text">
    </div>
</div>